<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crash and Splash Auth Form</title>
  </head>
  <body>
    <div id="app">
      <div>
        <p>Please insert flag into below form.</p>
        <p>If the hash value is matched, inserted flag is correct.</p>
      </div>

      <div>
        <input type="text" placeholder="Please insert flag" v-model="input">
        <button type="button" @click="send()">Send</button>
      </div>

      <hr>

      <div>
        <p v-if="sending">Sending...</p>
        <p class="error" v-if="error">Error: {{ error }}</p>
      </div>

      <div v-if="!sending">
        <p>{{ content }}</p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: function () {
          return {
            input: "",
            content: "",
            sending: false,
            error: null
          }
        },
        methods: {
          send: async function () {
            var that = this

            this.content = ""
            this.sending = true

            await fetch('http://sunctf2019.siebold-cyber.net:11001/send', {
              'method': 'POST',
              'headers': {
                'Content-Type': 'application/json'
              },
              'body': JSON.stringify({
                'text': that.input
              })
            }).then(resp => resp.json()).then(resp => {
              that.sending = false
              that.error = null
              that.input = ""
              that.content = resp.content
            })
            return
          }
        }
      })
    </script>
  </body>
</html>
